[Desktop Entry]
Name=UKMCL
Comment=This is the Minecraft Launcher for and by the Unknown Group.
Exec=/opt/UKMCL/Binary/UKMCL
Icon=/opt/UKMCL/icon.svg
Terminal=false
Type=Application
Categories=Game;